<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Collage_mgt_system.Properties.Settings.Collage_MGT_System_DBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Collage_MGT_System_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Collage_mgt_system.Properties.Settings.Add_Student_Detils_DBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Add_Student_Detils_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>